		*{
			padding: 0;
			box-sizing: border-box;
			margin:0;
			font-family: 'Inter', sans-serif; /* Use your preferred font */
		}

		wrapper{
			padding: 0;
			margin:0 auto;
			box-sizing: border-box;
			max-width: 1200px;
			
		}

		.logo_img{
			margin:0px;
			padding-left: 100px;
			padding-top: 20px;
			/* padding: 20px 20px 20px 20px; */
			width: 200px;
		
		}
		
		ul{
			list-style-type: None;
			
			margin: 0;
			padding: 0;
		}
		 li{
			 display: inline-block;
			 margin: 0 10px;
		 }
		 
		/*  a{
			 text-decoration: none;
			 color: #ecf0f1;
			 font-weight: bold;
		 } */

        nav {
            background-color: white;
            padding: 0px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			
			
        }
		
		nav img{
			width: 200px;
			height: auto;
		}

        nav a {
            color: grey;
            text-decoration: none;
			font-size: 1rem;
            margin: 0 15px;
        }

        nav a:hover {
            color:blue;
			
        }

		.navbar {
			position: fixed;
			top: 0;
			padding-top: 20px;
			width: 100%;
		}
		
		
		.container2 {
			text-align: center;
			justify-content:space-between;
		}

		.landing-image{
			width: 900px;
			margin: 0;
			padding-top: 80px;
			text-align: center;
			
		}
		
		.button {
			background-color: #387ed1;
			padding: 9px 28px;
			border-radius: 8px;
			color: white;
		}
		
		.menu-section{
			cursor: pointer
		}
		
		.textSection h1{
			font-size: 2.75rem;
			line-height: 1.25;
		}

		.textSection h5{
			font-size: 1.25rem;
			font-weight: 400;
		}
		
		.property{
			background-color: #008CbA;
			padding: 20px;
			border-width: 10px;
			border-color: yellow;
			border-style: solid;
		}
		